{% include 'views-work/_partials/widget_license_issue.twig' %}

<div class="vw-widget-footer">
    &copy;  <a href="https://www.24hoursmedia.com/en" target="_blank" class="vw-whitespace-nowrap">24hoursmedia <span data-icon="circlerarr"></span></a>.
    <a href="https://io.24hoursmedia.com/views-work" target="_blank" class="vw-whitespace-nowrap">visit plugin page <span data-icon="circlerarr"></span></a>
</div>