{% import 'views-work/_macros.twig' as vcp %}

<div class="content-pane">
    <h2>{{ vcp.t('Documentation') }}</h2>

    <p>
        {{ vcp.t('Visit the plugin page at') }}
        <a href="https://io.24hoursmedia.com/views-work" target="_blank">io.24hoursmedia.com {{ vcp.icon_arrow() }}</a>

    </p>

</div>