{# recording \twentyfourhoursmedia\viewswork\models\ViewRecording #}
<div style="width: 100%; text-align: right">
    <span style="white-space: nowrap">Total: {{ recording.total }} </span>
    <span style="white-space: nowrap">Month: {{ recording.thisMonth }} </span>
    <span style="white-space: nowrap">Week: {{ recording.thisWeek }} </span>
    <span style="white-space: nowrap">Day: {{ recording.today }} </span>
</div>