{% import 'views-work/_macros.twig' as vcp %}

<div class="content-pane vw-mt-3">
    <h2>{{ vcp.t('Resources') }}</h2>

    <p>
        {{ vcp.t('For more information, visit the views-work plugin page at') }}
        <a href="https://io.24hoursmedia.com/views-work" target="_blank">io.24hoursmedia.com {{ vcp.icon_arrow() }}</a>

    </p>

</div>