{% extends 'views-work/cp/_layouts' %}
{% set title = 'Views Work' %}
{% set selectedSubnavItem = 'index' %}


{% block sidebar %}

{% endblock %}


{% block main %}

    <div class="vw-grid vw-grid-flow-row vw-grid-cols-2 vw-auto-rows-fr vw-gap-3">
        <div>
            {% include 'views-work/cp/_partials/dashboard/integration.twig' %}
            {% include 'views-work/cp/_partials/dashboard/documentation.twig' %}
        </div>
        <div>
            {% include 'views-work/cp/_partials/dashboard/widgets.twig' %}
            {% include 'views-work/cp/_partials/dashboard/blocking.twig' %}
            {% include 'views-work/cp/_partials/dashboard/reset_url.twig' %}
        </div>
    </div>

{% endblock %}
