{% import 'views-work/_macros' as cpmacros %}
{% import _self as _macros %}
{% do view.registerAssetBundle("twentyfourhoursmedia\\viewswork\\assetbundles\\viewswork\\ViewsWorkAsset") %}
{% set container_id = craft.views_work_cp.uniqid('viewednow_container_') %}
<div id="{{ container_id }}">

    {% if enableAutoRefresh %}
    <div class="vw-load-indicator vw-absolute vw--top-9 vw-right-5" style="padding-top: 1px">
        <svg class="vw-spinner" fill="none" viewBox="0 0 24 24">
            <circle class="vw-opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="vw-opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
    {% endif %}

    <div
            class="vw-js-rx-refresh"
            data-vw-rx-refresh-uri="{{ actionUrl('views-work/viewed-now-widget/content', {
                count: count,
                seconds: seconds
            }) }}"
            data-vw-rx-refresh-state-container="#{{ container_id }}"
            data-vw-rx-refresh-autostart="{{ enableAutoRefresh ? 'true' : 'false' }}"
    >
    </div>


</div>

{% include 'views-work/_partials/widget_footer.twig' %}