
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@tailwind colors;

/*
https://tailwind-starter-kit.now.sh/learn
https://tailwindcss.com/docs/customizing-colors
*/

.vw-alert.vw-alert-warning {
    @apply vw-bg-warning vw-text-white
}
.vw-alert.vw-alert-warning a {
    @apply vw-text-warning-dark
}

.vw-alert.vw-alert-info {
    @apply vw-bg-info vw-text-info-extralight
}
.vw-alert.vw-alert-info a {
    @apply vw-text-info-dark
}

.vw-badge {
    @apply vw-inline-flex vw-items-center vw-justify-center vw-px-2 vw-py-1 vw-text-xs vw-leading-none vw-rounded vw-font-semibold
}
.vw-badge.vw-badge-info {
    @apply vw-text-white vw-bg-info
}
.vw-badge.vw-badge-warning {
    @apply vw-text-white vw-bg-warning
}
.vw-badge.vw-badge-danger {
    @apply vw-text-white vw-bg-danger
}
.vw-badge.vw-badge-success {
    @apply vw-text-white vw-bg-success
}
.vw-badge.vw-badge-secondary {
    @apply vw-text-white vw-bg-secondary
}

.vw-btn {
    display: inline-block;
    @apply vw-h-4 vw-px-4 vw-pt-1 vw-pb-2 vw-mt-1 vw-mt-1 vw-m-2 vw-text-sm vw-text-white vw-bg-primary vw-rounded vw-font-semibold hover:vw-bg-primary-light vw-text-center
}
.vw-btn:hover {
    text-decoration: none;
}
.vw-btn.vw-btn-info {
    @apply vw-text-white vw-bg-info
}
.vw-btn.vw-btn-danger {
    @apply vw-text-white vw-bg-danger
}
.vw-btn.vw-btn-success {
    @apply vw-text-white vw-bg-success
}
.vw-btn.vw-btn-warning {
    @apply vw-text-white vw-bg-warning
}

.vw-widget-heading {
    @apply vw-pb-2
}
.vw-widget-heading .vw-heading {
    @apply vw-font-bold
}
.vw-widget-section {
    @apply vw-mb-3
}
.vw-widget-footer {
    @apply vw-mt-2 vw-border-solid vw-border-t vw-pt-1 vw-border-info vw-text-xs
}